.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background: url('../lib/img/card-back.png');
  background-size:  100px 140px
}

.uncovered {
  background-color: white;
}

.hand {
  overflow: auto;
}
